DATABASE_URL="file:./dev.db"

TELEGRAM_BOT_TOKEN="TELEGRAM_BOT_TOKEN"
TELEGRAM_CHAT_ID="TELEGRAM_CHAT_ID"
# TELEGRAM_MIN_DELAY_MS=2000
# TELEGRAM_MAX_ATTEMPTS=5

CRON_EXPR="*/1 * * * *"

# Tech Focus Configuration
# MOSTAQL_SCRAPE_URL="https://mostaql.com/projects?category=development,ai-machine-learning&sort=latest"
# KHAMSAT_SCRAPE_URL="https://khamsat.com/community/requests"
# ENABLE_TECH_FILTER=true
# ADDITIONAL_TECH_KEYWORDS_EN="rust,golang"
# ADDITIONAL_TECH_KEYWORDS_AR="سوليديتي"


# Google Jobs via SerpApi
# SERPAPI_KEY="your_serpapi_key_here"
# GOOGLE_JOBS_SCRAPE_URL="https://serpapi.com/search.json?engine=google_jobs&q=software+engineer+jobs+egypt"
